<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/lib/layui/css/layui.css" rel="stylesheet" />
	<link href="~/css/common.css?v=@DateTime.Now.ToString("MM.ddhhmm")" rel="stylesheet" />
	<script src="~/js/jquery1.9.1.js"></script>
	<script src="~/lib/layui/layui.js?v=@DateTime.Now.ToString("MM.ddhhmm")"></script>
	<script src="~/js/global.js?v=@DateTime.Now.ToString("MM.ddhhmm")"></script>
	<style>
		#ajax-loader {cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 10000; overflow: hidden;}
		#ajax-loader img {position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;}
		.layui-form-item {margin-bottom: 0px !important;}
		.layui-disabled, .layui-disabled:hover {color: black !important;}
		.layui-textarea {min-height: 135px !important;}
	</style>
</head>
<body>
	@Html.AntiForgeryToken()
	<div class="ok-body">
		<div id="ajax-loader">
			<img src="~/images/ajax-loader.gif" />
		</div>
		@RenderBody()
	</div>
	<script type="text/javascript">
		layui.use(['form'], function () {
			$('#ajax-loader').fadeOut();

			//重置表格
			$("body").on("click", "#resetSearch", function () {
				$(".ok-search")[0].reset();
				setTimeout(function () {
					$(".layui-btn.btn-search").click();
				}, 50);
				return false;
			});
		});
		
		function searchHeight() {
			return $(".ok-body .ok-search").offset().top + $(".ok-body .ok-search").height() + 30;
		}
	</script>
</body>
</html>