<!-- 更换主体 Eg:orange_theme|blue_theme -->
<div class="layui-layout layui-layout-admin okadmin blue_theme">
    <!--头部导航-->
    <div class="layui-header okadmin-header">
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a class="ok-menu ok-show-menu" href="javascript:" title="菜单切换">
                    <i class="layui-icon layui-icon-shrink-right"></i>
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a class="ok-refresh" href="javascript:" title="刷新">
                    <i class="layui-icon layui-icon-refresh-3"></i>
                </a>
            </li>
            <li class="no-line layui-nav-item">
                <a href="javascript:">
                    <img src="/favicon.ico" class="layui-nav-img">
                </a>
                <dl id="userInfo" class="layui-nav-child">
                    <dd><a href="/MiniAuth/logout">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <!--遮罩层-->
    <div class="ok-make"></div>
    <!--左侧导航区域-->
    <div class="layui-side layui-side-menu okadmin-bg-20222A ok-left">
        <div class="layui-side-scroll okadmin-side">
            <div class="okadmin-logo">工程项目成本管理系统</div>
            <div class="user-photo">
                <a class="img" title="我的头像">
                    <img src="/favicon.ico">
                </a>
            </div>
            <!--左侧导航菜单-->
            <ul id="navBar" class="layui-nav okadmin-nav okadmin-bg-20222A layui-nav-tree">
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="content-body">
        <div class="layui-tab ok-tab" lay-filter="ok-tab" lay-allowClose="true" lay-unauto>
            <div data-id="left" id="okLeftMove" class="ok-icon ok-icon-back okadmin-tabs-control move-left okNavMove"></div>
            <div data-id="right" id="okRightMove" class="ok-icon ok-icon-right okadmin-tabs-control move-right okNavMove"></div>
            <div class="layui-icon okadmin-tabs-control ok-right-nav-menu" style="right: 0;">
                <ul class="okadmin-tab">
                    <li class="no-line okadmin-tab-item">
                        <div class="okadmin-link layui-icon-down" href="javascript:;"></div>
                        <dl id="tabAction" class="okadmin-tab-child layui-anim-upbit layui-anim">
                            <dd><a data-num="1" href="javascript:">关闭当前标签页</a></dd>
                            <dd><a data-num="2" href="javascript:">关闭其他标签页</a></dd>
                            <dd><a data-num="3" href="javascript:">关闭所有标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <ul id="tabTitle" class="layui-tab-title ok-tab-title not-scroll">
                <li class="layui-this" lay-id="1" tab="index">
                    <i class="ok-icon">&#xe654;</i>
                    <cite is-close=false>首页</cite>
                </li>
            </ul>
            <div id="tabContent" class="layui-tab-content ok-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src='/Home/Privacy' frameborder="0" scrolling="yes" width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery1.9.1.js"></script>
<script src="~/lib/layui/layui.js"></script>
<script src="~/js/okadmin.js?v=@DateTime.Now.ToString("MM.ddhhmm")"></script>

<script>
    $(document).ready(function() {
        var menuItems = [
            { url: "/Home/Index", sort: 1, title: "首页", icon: "&#xe654;" },
            // 一级菜单（类别管理）下面的二级菜单
            { url: "/api/BaseType/Index", sort: 2, title: "基础类型", icon: "&#xe654;" },
            { url: "/api/StructureType/Index", sort: 3, title: "结构类型", icon: "&#xe654;" },
            { url: "/api/ProjectType/Index", sort: 4, title: "项目类型", icon: "&#xe654;" },
            // 一级菜单（工程管理）下面的二级菜单
            { url: "/api/Project/Index", sort: 5, title: "项目管理", icon: "&#xe654;" },
            { url: "/api/Indices/Index", sort: 6, title: "价格对比", icon: "&#xe654;" },
            { url: "/api/Materials/Index", sort: 7, title: "材料管理", icon: "&#xe654;" },
            { url: "/api/HistoryPrice/Index", sort: 8, title: "历史价格", icon: "&#xe654;" },
            // 一级菜单（系统管理）下面的二级菜单
            { url: "/api/SysMenu/Index", sort: 9, title: "菜单管理", icon: "&#xe654;" },
            { url: "/api/SysRole/Index", sort: 10, title: "角色管理", icon: "&#xe654;" },
            { url: "/api/SysUser/Index", sort: 11, title: "用户管理", icon: "&#xe654;" }
        ];

        menuItems.sort((a, b) => a.sort - b.sort);

        var layId = 1;
        const menuHtml = menuItems.map(item => `
            <li class="layui-nav-item${item.sort === 1 ? ' layui-this' : ''}">
                <a href="javascript:" lay-id="${layId++}" data-url="${item.url}">
                    <i class="ok-icon" is-close="false">${item.icon}</i>
                    ${item.title}
                </a>
            </li>
        `).join('');

        $('#navBar').html(menuHtml);
    });
</script>