@{ ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutList.cshtml"; }
<!--搜索区域-->
<div class="layui-row">
	<form class="layui-form layui-col-md12 ok-search">
		<div class="layui-input-inline">
			<input class="layui-input" name="loginAccount" placeholder="请输入登录账号" autocomplete="off">
		</div>
		<div class="layui-input-inline">
			<input class="layui-input" name="realName" placeholder="请输入真实姓名" autocomplete="off">
		</div>
		@Html.SearchBtnHtml("查询")
		@Html.ResetBtnHtml()
	</form>
</div>
<!--数据表格-->
<table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
<script type="text/javascript">
	layui.use(["table", "form", "okLayer", "okUtils"], function () {
		let table = layui.table;
		let form = layui.form;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;

		let tableInit = table.render({
			elem: "#tableId",
			url: "/System/User/GetPageList",
			limit: 10,
			height: 'full-' + searchHeight(),
			page: true,
			toolbar: "#toolbarTpl",
			defaultToolbar: [], //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
			size: "xs",
			cols: [[
				{ type: "checkbox" },
				{ title: "操作", align: "center", templet: "#toolTpl", width: 160 },
				{ field: "LoginAccount", title: "登录账号", sort: true },
				{ field: "RealName", title: "真实姓名", sort: true },
				{ field: "UserStatus", title: "账号状态", templet: '#templetUserStatus', sort: true },
				{ field: "IsComment", title: "评论权限", templet: '#templetIsComment', sort: true },
				{ field: "RoleName", title: "角色名称", sort: true },
				{ field: "DepartmentName", title: "所属部门", sort: true }
			]]
		});

		form.on("submit(search)", function (data) {
			tableInit.reload({
				where: data.field,
				page: { curr: 1 }
			});
			return false;
		});

		table.on("toolbar(tableFilter)", function (obj) {
			switch (obj.event) {
				case "btn-add":
					okLayer.open("添加用户", "/System/User/Form?type=add", "80%", "80%", null, null);
					break;
				case "btn-batchDel":
					var idStr = "";
					$(table.checkStatus(obj.config.id).data).each(function (index, item) {
						idStr += item.Id + ",";
					});
					if (idStr.trim() == "") {
						return okLayer.yellowSighMsg("请选择要删除的数据", null, 1500);
					}
					doDelete(okLayer, okUtils, "/System/User/Delete", "post", { id: idStr });
					break;
			}
		});

		table.on("tool(tableFilter)", function (obj) {
			let data = obj.data;
			switch (obj.event) {
				case "btn-edit":
					okLayer.open("编辑用户", "/System/User/Form?type=edit&id=" + data.Id, "80%", "80%", null, null);
					break;
				case "btn-del":
					doDelete(okLayer, okUtils, "/System/User/Delete", "post", { id: data.Id });
					break;
			}
		});
	});
</script>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
	@Html.TopToolBarHtml(ViewData["TopButtonList"])
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="toolTpl">
	@Html.LeftToolBarHtml(ViewData["LeftButtonList"])
</script>
<script type="text/html" id="templetUserStatus">
	{{#  if(d.UserStatus == 1){  }}
	<span class="layui-btn layui-btn-normal layui-btn-xs">正常</span>
	{{# }else if(d.UserStatus == 2){  }}
	<span class="layui-btn layui-btn-warm layui-btn-xs">锁定</span>
	{{# } }}
</script>
<script type="text/html" id="templetIsComment">
	{{#  if(d.IsComment == 0){  }}
	<span class="layui-btn layui-btn-warm layui-btn-xs">关闭</span>
	{{# }else if(d.IsComment == 1){  }}
	<span class="layui-btn layui-btn-normal layui-btn-xs">开启</span>
	{{# } }}
</script>