@{ Layout = "~/Views/Shared/_LayoutForm.cshtml";}
<form class="layui-form layui-form-pane ok-form" lay-filter="formSave">
	<div class="layui-form-item">
		<div class="pl-form-line">
			<label class="layui-form-label xrequired">旧密码</label>
			<div class="pl-form-input-block">
				<input type="password" name="currPwd" class="layui-input" placeholder="请输入旧密码" maxlength="30">
			</div>
		</div>
		<div class="pl-form-line">
			<label class="layui-form-label xrequired">新密码</label>
			<div class="pl-form-input-block">
				<input type="password" name="pwd" class="layui-input" placeholder="请输入新密码" maxlength="30">
			</div>
		</div>
		<div class="pl-form-line">
			<label class="layui-form-label xrequired">确认密码</label>
			<div class="pl-form-input-block">
				<input type="password" name="confirmPwd" class="layui-input" placeholder="请再次输入新密码" maxlength="30">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="pl-item-input-block">
			<button class="layui-btn" lay-submit lay-filter="save">保存</button>
		</div>
	</div>
</form>
<script type="text/javascript">
	layui.use(["form", "okLayer", "okUtils"], function () {
		let form = layui.form;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;

		form.on("submit(save)", function (data) {
			okUtils.ajax("/System/User/UserUpdatePwd", "post", data.field, true).done(function (res) {
				okLayer.greenTickMsg(res.Msg, function () {
					parent.$(".ok-refresh").click();//刷新当前tab
				});
			}).fail(function (error) {
				console.log(error);
			});
			return false;
		});
	});
</script>